.container-rating {
  width: 1000px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
}

.container-rating .title {
  font-weight: bold;
  font-size: 18px;
  color: #efa34e;
}

.container-rating .container-rating-table {
  width: 100%;
  margin: 20px 0;
}

.container-rating .container-rating-table .table-header {
  display: flex;
  border-bottom: 2px solid #ccc;
}

.container-rating .container-rating-table .table-header h2 {
  flex: 1;
  font-weight: bold;
  font-size: 16px;
}

.container-rating .container-rating-table .table-header h3 {
  flex: 4;
  font-weight: bold;
  font-size: 16px;
}

.container-rating .container-rating-table .table-content li {
  margin: 10px 0;
  padding: 7px 5px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.container-rating .container-rating-table .table-content li h2 {
  flex: 1;
  font-size: 16px;
}

.container-rating .container-rating-table .table-content li h3 {
  flex: 4;
  font-size: 16px;
} 