#login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e4e3e3;
}

#login .header {
  width: 600px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login .header img {
  width: 250px;
  height: 110px;
}

#login .content {
  width: 600px;
  margin-bottom: 60px;
}

#login .content .login-input-wrapper {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#login .content .login-input-wrapper h1 {
  position: relative;
  font-weight: bold;
  font-size: 30px;
}

#login .content .login-input-wrapper h1::before {
  content: "";
  width: 80px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 2px solid #91d18b;
}

#login .content .login-input-wrapper .login-form {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login .content .login-input-wrapper .login-form input {
  width: 350px;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #444;
}

#login .content .login-input-wrapper .login-form input:focus {
  outline: none;
  border-color: #91d18b;
}

#login .content .login-input-wrapper .login-form button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #91d18b;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
}

#login .content .login-input-wrapper .login-form button:hover {
  transform: translateZ(0) scale(0.98);
}

/* ******************** */

#login .login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login .login-form input {
  width: 300px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  font-size: 13px;
}

#login .login-form input:focus {
  outline: none;
  border-color: #91d18b;
}

#login .login-form button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #91d18b;
  color: #fff;
  cursor: pointer;
}