/*전체 레이아웃*/
.header{margin-left:1%}
.inputs{margin-top:1%;}
.normalButtons{margin-top:0.5%;}
.otherAccountButtons{margin-top:0.5%;}

/*입력창 영역*/
.inputs>input{width:12%;height:3%}
#idInput{margin-left:1%;}
#pwdInput{margin:0.6%}

/*일반 버튼 영역*/
#loginButton{width:14%;height:1%;margin-left:1%}
#lostButton{margin-left:0.5%}
#registerButton{margin-left:2.5%}

/*계정 연동 영역*/
.otherAccountButtons>img{border-radius:100%; width:3%; height:3%; margin:0.8%}