#map {
  width: 60%;
  height: calc(100vh - 60px);
  position: relative;
  top: 60px;
}

#cluster {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fa163f;
  opacity: 0.8;
  border-radius: 25px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.container-marker {
  width: 30px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 15px;
  background-color: #5F99D7;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
  box-sizing: border-box;
}

.info-window {
  width: 380px;
  height: 140px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
}

.info-window img {
  width: 110px;
  height: 80px;
  margin-right: 20px;
  float: left;
}

.info-window h1 {
  font-size: 20px;
}

.info-window button {
  width: 360px;
  height: 30px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #5F99D7;
  clear: both;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
}

.info-window button:hover {
  transform: translateZ(0) scale(0.98);
}