.container-detail {
  width: 1000px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
}

.container-detail .title {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #444;
}

.container-detail .subtitle {
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  font-size: 16px;
  color: #efa34e;
}

.container-detail .container-detail-info .keeping-type .keeping-type-icons {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.container-detail .container-detail-info .keeping-type .keeping-type-icons .icon-button svg {
  margin: 0 20px;
  padding: 10px;
  font-size: 150px;
  transition: all 0.3 ease;
  cursor: pointer;
}

.container-detail .container-detail-info .keeping-type .keeping-type-icons .icon-button svg:hover {
  color: #5F99D7;
}

.container-detail .container-detail-info .keeping-type .keeping-type-icons .icon-button svg:active {
  transform: translateZ(0) scale(0.97);
}

.container-detail .container-detail-info .keeping-type .keeping-type-icons .icon-button .active {
  color: #5F99D7;
}

.container-detail .container-detail-info .keeping-type .keeping-type-icons .icon-button p {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.container-detail .container-detail-info .running-day .select-day {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.container-detail .container-detail-info .running-day .select-day span {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border: 2px solid #5F99D7;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  color: #5F99D7;
  transition: all 0.3s ease;
  cursor: pointer;
}

.container-detail .container-detail-info .running-day .select-day .active {
  background-color: #5F99D7;
  color: #fff;
}

.container-detail .container-detail-info .running-time .select-time {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.container-detail .container-detail-info .running-time .select-time .time-picker {
  margin: 0 10px;
}