.container-detail {
  width: 1000px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
}

.container-detail .title {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #444;
}

.container-detail .subtitle {
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  font-size: 16px;
  color: #efa34e;
}

.container-detail .container-detail-info .keeping-type .keeping-type-icons {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.container-detail .container-detail-info .keeping-type .keeping-type-icons .icon-button svg {
  margin: 0 20px;
  padding: 10px;
  font-size: 120px;
  transition: all 0.3 ease;
  /* cursor: pointer; */
}

/* .container-detail .container-detail-info .keeping-type .keeping-type-icons .icon-button svg:hover {
  color: #5F99D7;
}

.container-detail .container-detail-info .keeping-type .keeping-type-icons .icon-button svg:active {
  transform: translateZ(0) scale(0.97);
} */

.container-detail .container-detail-info .keeping-type .keeping-type-icons .icon-button .active {
  color: #5f99d7;
}

.container-detail .container-detail-info .keeping-type .keeping-type-icons .icon-button p {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.container-detail .container-detail-info .running-day .select-day {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.container-detail .container-detail-info .running-day .select-day span {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border: 2px solid #5f99d7;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  color: #5f99d7;
  transition: all 0.3s ease;
  cursor: pointer;
}

.container-detail .container-detail-info .running-day .select-day .active {
  background-color: #5f99d7;
  color: #fff;
}

.container-detail .container-detail-info .running-time .select-time {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.container-detail .container-detail-info .running-time .select-time .time-picker {
  margin: 0 10px;
}

.container-detail .container-detail-payment {
  padding: 40px 0;
}

.container-detail .container-detail-payment .sub-section {
  padding: 20px 0;
}

.container-detail .container-detail-payment .container-detail-table {
  width: 100%;
  margin: 20px 0;
}

.container-detail .container-detail-payment .container-detail-table th {
  padding-left: 10px;
  text-align: left;
}

.container-detail .container-detail-payment .container-detail-table td {
  padding: 5px 10px;
}

.container-detail .container-detail-payment .container-detail-table td input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 13px;
  color: #333;
}

.container-detail .container-detail-payment .container-detail-table td input:focus {
  outline: none;
  border: 1px solid #5f99d7;
}

.container-detail .container-detail-payment .container-detail-table td button {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
  color: #444;
  cursor: pointer;
}

.container-detail .container-detail-payment .keeping-payment .container-detail-table td button:hover {
  border-color: #5f99d7;
}

.container-detail .container-detail-payment .keeping-payment .container-detail-table td button:active {
  transform: translateZ(0) scale(0.98);
}

.container-detail .container-detail-time {
  padding: 40px 0;
}

.container-detail .container-detail-time .sub-section {
  padding: 20px 0;
}

.container-detail .container-detail-time .container-detail-table {
  width: 100%;
  margin: 20px 0;
}

.container-detail .container-detail-time .container-detail-table th {
  padding-left: 10px;
  text-align: left;
}

.container-detail .container-detail-time .container-detail-table td {
  padding: 5px 10px;
}

.container-detail .container-detail-time .container-detail-table td input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 13px;
  color: #333;
}

.container-detail .container-detail-time .container-detail-table td input:focus {
  outline: none;
  border: 1px solid #5f99d7;
}

.container-detail .container-detail-time .container-detail-table td button {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
  color: #444;
  cursor: pointer;
}

.container-detail .container-detail-time .keeping-time .container-detail-table td button:hover {
  border-color: #5f99d7;
}

.container-detail .container-detail-time .keeping-time .container-detail-table td button:active {
  transform: translateZ(0) scale(0.98);
}

.container-detail .container-detail-service .service-icons {
  width: 100%;
  height: 400px;
  padding: 20px 0;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.container-detail .container-detail-service .service-icons .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-detail .container-detail-service .service-icons .icon p {
  padding: 15px 0;
  font-weight: bold;
  font-size: 18px;
}

.container-detail .container-detail-service .service-icons .icon svg {
  font-size: 100px;
}

.container-detail .container-detail-service-extra {
  padding: 40px 0;
}

.container-detail .container-detail-service-extra .sub-section-companies {
  padding: 20px 0;
}
.container-detail .container-detail-service-extra .sub-section-parkingScale {
  padding: 20px 0;
}
.container-detail .container-detail-service-extra .sub-section-select {
  padding: 20px 0;
}

.container-detail .container-detail-explain textarea {
  width: 100%;
  height: 200px;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: none;
  color: #333;
}

.container-detail .container-detail-explain textarea:focus {
  outline: none;
}

.container-detail .container-detail-mainstyle .mainstyle-icons {
  width: 100%;
  height: 400px;
  padding: 20px 0;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.container-detail .container-detail-mainstyle .mainstyle-icons .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-detail .container-detail-mainstyle .mainstyle-icons .icon p {
  padding: 15px 0;
  font-weight: bold;
  font-size: 18px;
}

.container-detail .container-detail-mainstyle .mainstyle-icons .icon svg {
  font-size: 100px;
}
