/*전체 레이아웃*/
.middle{margin-top:1%;padding:0.5%}
.footer{margin-top:20%;margin-bottom:5%;}


/*전화번호 레이아웃*/
.linePhone>input, .noLinePhone>input {width:40px}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/*footer*/
#submitButton{margin-left:1%;}